@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dresses4Heaven</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Dresses4Heaven</h2>
        <p>
            Dresses4Heaven is currently in development
        </p>
    </div>
    <div class="col-md-4">
        <h2>View our off the rails collection for all special occasions</h2>
        <p>Simply follow the following link to our website</p>
        <!--"original link"   <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p> -->
        <p><a class="btn btn-default" href="http://www.dresses4heaven.com/">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <!-- 
        <h2>Download it</h2>
        <p>You can download the completed project from the Microsoft Code Gallery.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
            -->
        <h2>Space for future development</h2>
        <p>links or data etc. can be inserted here</p>
        <!-- 
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
            -->
    </div>
</div>